<aside id="qx_cookie_bar">
  <div id="qx_cookie_inner">

    <div id="qx_cookie_text">
      Este sitio utiliza cookies técnicas y analíticas que nos permiten comprender,
      siempre de manera anónima, cómo interactúas con este espacio y así refinar tu experiencia.
      <a href="/politica-de-cookies">Más info</a>
    </div>

    <div style="display:flex; gap:10px;">
      <button id="qx_accept" class="qx_btn">Aceptar</button>
      <button id="qx_reject" class="qx_btn">Rechazar</button>
    </div>

  </div>
</aside>
